<form (ngSubmit)="onSubmit()">
  <div class="button-group">
    <div>
      <button [disabled]="saveButtonDisabled" mat-stroked-button type="submit">
        Sauvegarder le projet de versement
      </button>
    </div>
    <div>
      <button mat-stroked-button routerLink="/" type="button">
        Annuler
      </button>
      <button color="primary" disabled mat-flat-button routerLink="/" type="button">
        Demander le versement
      </button>
    </div>
  </div>
  <section [formGroup]="filesForm" class="file-tree-form">
    <mat-accordion formArrayName="archiveDataPackages">
      <ng-container *ngFor="let archiveDataPackage of archiveDataPackages.controls; let i=index">
        <mat-expansion-panel #panel (opened)="onSelectPackage(i)" [formGroupName]="i" class="mat-elevation-z0">
          <mat-expansion-panel-header class="panel-header-overflow">
            <mat-panel-title
              [matBadgeColor]="hasUnresolvedThread(archiveDataPackage.get('archiveDataValues')!.value) ? 'accent' : 'primary'"
              [matBadgeHidden]="!hasComment(archiveDataPackage.get('archiveDataValues')!.value)" class="overflow-visible"
              matBadge="&#8288;" matBadgeColor="accent" matBadgePosition="below before" matBadgeSize="small">
              <mat-icon>topic</mat-icon>
              Ensemble {{i + 1}}
            </mat-panel-title>
            <mat-panel-description>
              {{getDirectoryCount(archiveDataPackage.get('archiveDataValues')?.value)}} dossiers
              / {{getFileCount(archiveDataPackage.get('archiveDataValues')?.value)}} fichiers
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-tree-autocomplete-control [formControlName]="'classificationItem'"
                                         [label]="'Noeud du plan de classement'"
                                         [treeData]="classification"
                                         [value]="archiveDataPackage.get('classificationItem')!.value"></app-tree-autocomplete-control>
          <div class="mat-caption">Arborescence</div>
          <app-file-tree (selectDirectoryEvent)="onSelectFromTree($event)"
                         [fileTreeData]="archiveDataPackage.get('archiveDataValues')!.value.flat()"
                         [focused]="panel.expanded"></app-file-tree>
          <mat-action-row *ngIf="archiveDataPackages.controls.length > 1">
            <button (click)="removePackage(i)" color="primary" mat-button type="button">
              Supprimer cet ensemble
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-accordion>
    <button (click)="addPackage()" mat-icon-button type="button">
      <mat-icon>add</mat-icon>
      Ajouter un ensemble
    </button>
  </section>
  <section *ngIf="treeSelection.hasValue()" class="table-form">
    <nav *ngIf="selectedArchiveDataPackageIndex > -1" class="breadcrumb">
        <span>
          <mat-icon inline>topic</mat-icon>
          Ensemble {{selectedArchiveDataPackageIndex + 1}}
        </span>
      <ng-container *ngFor="let crumb of selectionPath">
        <mat-icon inline>arrow_right_alt</mat-icon>
        <span>
            <mat-icon inline>folder</mat-icon>
          {{crumb}}
          </span>
      </ng-container>
    </nav>
    <mat-divider></mat-divider>
    <app-file-table (selectFileEvent)="onSelectFromTable($event)"
                    [fileTableData]="treeSelection.selected[0].children"></app-file-table>
  </section>
</form>
