@import "variables";

form {
  background: $background;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: $default-margin;
}

h2 {
  margin-top: $default-margin;
}

nav {
  padding: $smaller-margin;
}

.mat-expansion-panel {
  box-shadow: none;
}

.button-group-top {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-content: left;
}

.button-group-bottom {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.file-tree-form {
  border-right: 1px solid $border;
  grid-column: 1;
  grid-row: 2;
}

.table-form {
  grid-column: 2;
  grid-row: 2;
}
