@import "variables";

form {
  display: grid;
  grid-column-gap: $default-margin;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: $default-margin;
}

.mat-expansion-panel {
  box-shadow: none;

  + mat-divider:last-of-type {
    margin-bottom: $smaller-margin;
  }
}

.button-group {
  border-bottom: 1px solid $border;
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-bottom: $default-margin;
}

.file-tree-form {
  border-right: 1px solid $border;
  grid-column: 1;
  grid-row: 2;
  overflow-y: auto;
  resize: horizontal;
}

.table-form {
  grid-column: 2;
  grid-row: 2;
  overflow: auto;
}
