@use '~@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$background: white;
$panel-background: mat.get-color-from-palette(mat.$gray-palette, 100);
$item-background: mat.get-color-from-palette(mat.$gray-palette, 200);
$item-background-selected: mat.get-color-from-palette(mat.$gray-palette, 300);
$badge-background: mat.get-color-from-palette(mat.$gray-palette, 400);
$border: mat.get-color-from-palette(mat.$blue-gray-palette, 50);

$config: mat.define-typography-config();

$default-margin: 2em;
$smaller-margin: $default-margin / 2;
$smallest-margin: $smaller-margin / 2;

$width: 90%;
$min-panel-width: 400px;
$form-field-width: 150px;

$badge-radius: 4px;
