// Import library functions for theme creation.
@import "~@angular/material/theming";

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
@import "./_variables.scss";
@import "./_mixins.scss";
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    )
  )
);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

// Include theme styles for your custom components.

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 auto;
  min-height: 100vh;
  width: $width;
}

.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-stepper-horizontal.mat-stepper-fill-height {
  .mat-horizontal-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .mat-horizontal-stepper-content[aria-expanded=true] {
    flex-grow: 1;
  }
}

// https://github.com/angular/components/issues/20427
.mat-step-header {
  pointer-events: none;
}

.mat-form-field.full-width {
  width: 100%;
}

.mat-expansion-panel-header.panel-header-overflow .mat-content {
  overflow: visible;
}

.mat-card.comment {
  margin-top: mat-font-size($config, caption) * 2;

  &:last-of-type {
    margin-bottom: mat-font-size($config, caption);
  }

  .mat-card-header-text {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin: 0;
    width: 100%;
  }

  .mat-card-title, .mat-card-subtitle {
    font-size: mat-font-size($config, caption);
    margin: 0 !important;
  }

  .mat-card-content {
    margin-bottom: 0;
  }

  .mat-card-actions {
    display: flex;
    flex-direction: row-reverse;
  }
}

.badge-icon .mat-badge-content {
  font-family: 'Material Icons', mat-font-family($config);
}

nav.breadcrumb {
  align-items: center;
  display: flex;
  padding: $smaller-margin 0 $smaller-margin;

  > * {
    padding-left: $smallest-margin;
    padding-right: $smallest-margin;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;

  button + button {
    margin-left: $default-margin;
  }
}

.date-group {
  display: flex;
  justify-content: space-between;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
