@import "variables";

table {
  width: 100%;
}

tr:hover, tr.selected {
  background: $badge-background;
}

th.mat-cell-sticky-right {
  padding-right: 0;
  width: 50px;
}

td.mat-cell.mat-cell-sticky-right {
  padding-right: 0;
  width: 50px;
}
