<table [dataSource]="dataSource" fixedLayout mat-table matSort>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Nom</th>
    <td *matCellDef="let element" mat-cell matTooltip="{{element.name}}"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Date de début</th>
    <td *matCellDef="let element" mat-cell> {{element.creationDate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="lastModificationDate">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Date de fin</th>
    <td *matCellDef="let element" mat-cell> {{element.lastModificationDate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Taille (Ko)</th>
    <td *matCellDef="let element" mat-cell> {{element.size}} </td>
  </ng-container>

  <ng-container matColumnDef="format">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Format</th>
    <td *matCellDef="let element" mat-cell> {{element.format}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell> Description</th>
    <td *matCellDef="let element" mat-cell> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="edit" stickyEnd>
    <th *matHeaderCellDef class="mat-cell-sticky-right" mat-header-cell></th>
    <td *matCellDef="let row" class="mat-cell-sticky-right" mat-cell>
      <button (click)="edit(row)" [style.visibility]="!selection.isSelected(row) ? 'hidden': 'visible'" mat-icon-button
              type="button">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete" stickyEnd>
    <th *matHeaderCellDef class="mat-cell-sticky-right" mat-header-cell></th>
    <td *matCellDef="let row" class="mat-cell-sticky-right" mat-cell>
      <button (click)="$event.stopPropagation()" [style.visibility]="!selection.isSelected(row) ? 'hidden': 'visible'" disabled
              mat-icon-button type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr (mouseenter)="onHoverIn(row)" (mouseleave)="onHoverOut()" *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'selected': selection.isSelected(row)}"
      mat-row></tr>
</table>

