@import "variables";

.mat-tree-node.selectable {
  cursor: pointer;
}

.selected {
  background-color: $badge-background;
}

.tree-node-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
