<button (click)="addFile()" disabled mat-icon-button type="button">
  <mat-icon>add</mat-icon>
  Nouveau dossier
</button>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node (click)="selectFile(node)" *matTreeNodeDef="let node"
                 [ngClass]="{'selectable': isDirectory(node), 'selected': isSelected(node)}" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button disabled mat-icon-button type="button"></button>
    <ng-container *ngIf="isDirectory(node); else elseBlock">
      <div
        [matBadgeColor]="descendantsHaveUnresolvedThread(node) ? 'accent' : 'primary'"
        [matBadgeHidden]="!descendantsHaveComment(node)" class="badge-icon text-ellipsis-flex-container"
        matBadge="&#8288;"
        matBadgePosition="below before" matBadgeSize="small">
        <div class="text-ellipsis">
          <mat-icon inline>folder</mat-icon>
          {{node.name}}
        </div>
      </div>
      <button (click)="addFile()" disabled mat-icon-button type="button">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
    <ng-template #elseBlock>
      <div class="text-ellipsis-flex-container">
        <div class="text-ellipsis">
          <mat-icon inline>text_snippet</mat-icon>
          {{node.name}}
        </div>
      </div>
    </ng-template>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node (click)="selectFile(node)" *matTreeNodeDef="let node;when: hasChild"
                 [ngClass]="{'selectable': isDirectory(node), 'selected': isSelected(node)}"
                 matTreeNodePadding>
    <mat-icon inline>folder</mat-icon>
    <button [attr.aria-label]="'Toggle ' + node.name" mat-icon-button matTreeNodeToggle type="button">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div [matBadgeColor]="descendantsHaveUnresolvedThread(node) ? 'accent' : 'primary'"
         [matBadgeHidden]="!descendantsHaveComment(node)" class="badge-icon text-ellipsis-flex-container"
         matBadge="&#8288;"
         matBadgePosition="below before" matBadgeSize="small">
      <div class="text-ellipsis">
        {{node.name}}
      </div>
    </div>
    <button (click)="addFile()" disabled mat-icon-button type="button">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
