<div (dragover)="onDragover($event)" (drop)="onDrop($event)" class="drop-zone">
  <p>
    <mat-icon inline>move_to_inbox</mat-icon>
    Glisser-déposer un répertoire d'archives bureautiques
    <input #inputFile (change)="handleFilesForInput(inputFile.files)" class="visually-hidden" id="input_file" multiple
           type="file"
           webkitdirectory> <!-- FIXME change not firing on chrome when empty? -->
<!--    , ou <label for="input_file">Importer depuis le PC</label>--> <!-- TODO uncomment when properly implemented -->
  </p>
  <mat-form-field class="full-width">
    <mat-chip-list>
      <mat-chip (removed)="remove(filePackage)"
                *ngFor="let filePackage of filePackages">
        {{filePackage.name}} ({{filePackage.size}}Ko)
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</div>
