@use '~@angular/material' as mat;
@import "variables";

nav.breadcrumb {
  a {
    text-decoration: none;
  }

  span:nth-child(2) {
    color: mat.get-color-from-palette($primary);;
  }
}

.mat-tab-group {
  background: $background;
}

.button-group {
  border-bottom: 1px solid $border;
  padding: $smaller-margin;
}
