@use '~@angular/material' as mat;
@import "variables";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.mat-tab-group {
  background: $background;
  flex-grow: 1;
}

nav.breadcrumb {
  a {
    text-decoration: none;
  }

  span:nth-child(2) {
    color: mat.get-color-from-palette($primary);;
  }
}
