<nav class="mat-body-strong breadcrumb">
  <span>
    <button aria-label="Home" class="mat-elevation-z0" color="primary" mat-mini-fab routerLink="/" type="button">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </span>
  <span><a routerLink="/">Accueil</a></span>
  <mat-icon inline>arrow_right_alt</mat-icon>
  <span>Projet de versement {{archiveTransfer?.id}}</span>
</nav>
<form (ngSubmit)="onSubmit()">
  <mat-tab-group *ngIf="archiveTransfer" class="mat-tab-fill-height" dynamicHeight>
    <mat-tab label="Description générale">
      <div class="button-group">
        <div>
          <button [disabled]="saveButtonDisabled" mat-stroked-button type="submit">
            Sauvegarder le projet de versement
          </button>
        </div>
        <div>
          <button mat-stroked-button routerLink="/" type="button">
            Annuler
          </button>
          <button (click)="submitArchiveTransfer()" *ngIf="currentUser.role === 'TRANSFER'"
                  [disabled]="archiveTransfer.status === 'En attente de correction'" color="primary" mat-flat-button
                  type="button">
            Demander le versement
          </button>
          <button *ngIf="currentUser.role === 'ARCHIVE'"
                  color="primary"
                  disabled mat-flat-button type="button">
            Exporter dans le SAE
          </button>
        </div>
      </div>
      <app-archive-transfer-context (formChangeEvent)="onFormChange()" [archiveTransfer]="archiveTransfer"></app-archive-transfer-context>
    </mat-tab>
    <mat-tab label="Arborescence de dossiers">
      <div class="button-group">
        <div>
          <button [disabled]="saveButtonDisabled" mat-stroked-button type="submit">
            Sauvegarder le projet de versement
          </button>
        </div>
        <div>
          <button mat-stroked-button routerLink="/" type="button">
            Annuler
          </button>
          <button (click)="submitArchiveTransfer()" *ngIf="currentUser.role === 'TRANSFER'"
                  [disabled]="archiveTransfer.status === 'En attente de correction'" color="primary" mat-flat-button
                  type="button">
            Demander le versement
          </button>
          <button *ngIf="currentUser.role === 'ARCHIVE'"
                  color="primary"
                  disabled mat-flat-button type="button">
            Exporter dans le SAE
          </button>
        </div>
      </div>
      <app-archive-transfer-files (formChangeEvent)="onFormChange()" [archiveTransfer]="archiveTransfer"></app-archive-transfer-files>
    </mat-tab>
  </mat-tab-group>
</form>
