@import "variables";

:host {
  display: grid;
}

header {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-top: $default-margin;
}

.dashboard {
  column-gap: $default-margin;
  display: flex;
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-content: space-around;
  padding: $default-margin 0 $default-margin;

  > * {
    flex: 1;
  }
}

.number {
  color: mat-color($primary);
  font-size: mat-font-size($config, display-1);
  font-weight: bold;
  text-align: right;

  &.important {
    color: mat-color($accent);
  }
}

.list-title {
  display: flex;
  flex-direction: column;

  .mat-small {
    color: mat-color($mat-gray, 600);
  }
}

.list-header {
  grid-column: 1;
  grid-row: 3;
}

.button-container {
  grid-column: 2;
  grid-row: 3;
  text-align: right;
}

.mat-selection-list {
  grid-column: 1 / span 2;
  grid-row: 4;

  button {
    margin: $smaller-margin;
  }

  .badge {
    background-color: $badge-background;
    border-radius: $badge-radius;
    display: inline-block;
    padding: mat-font-size($config, body-1) / 2;
  }
}

.mat-list-option {
  background-color: $item-background;
  cursor: default !important;
  margin-top: mat-font-size($config, body-1) * 2;
}

.mat-list-single-selected-option,
.mat-list-single-selected-option:hover,
.mat-list-single-selected-option:focus {
  background: $item-background-selected;
}

.mat-line.table-row {
  align-items: center;
  display: flex;

  .table-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;

    &.table-cell-2 {
      flex: 2;
    }

    &.table-cell-4 {
      flex: 4;
    }

    &.table-cell-right {
      text-align: right;
    }
  }
}

.mat-line:nth-child(2) {
  bottom: 100%;
  left: 0;
  position: absolute;
}

.progress-button-container {
  display: inline-block;
  position: relative;

  .spinner-container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
