<header>
  <h1>Bonjour {{name}}</h1>
  <p>Bienvenue sur votre espace SEDAccord.</p>
</header>
<h2>Vos projets de versement</h2>
<div class="button-container">
  <button (click)="openAddDialog()" color="primary" mat-flat-button type="button">
    Créer un projet de versement
  </button>
</div>
<mat-selection-list #archiveTransferList [multiple]="false">
  <mat-list-option #archiveTransferOption (mouseenter)="onHoverIn(archiveTransferOption)"
                   (mouseleave)="onHoverOut()" *ngFor="let archiveTransfer of archiveTransfers"
                   [value]="archiveTransfer">
    <mat-icon matListIcon>folder</mat-icon>
    <div class="table-row" mat-line>
      <div class="table-cell table-cell-2">Projet de versement {{archiveTransfer.id}}</div>
      <ng-template [ngIfElse]="hovered"
                   [ngIf]="archiveTransfer !== archiveTransferList.selectedOptions.selected[0]?.value">
        <div class="table-cell">{{archiveTransfer.submissionAgency?.name}}</div>
        <div class="table-cell table-cell-4">{{archiveTransfer.name}}</div>
        <div class="table-cell table-cell-right"><span class="badge">{{archiveTransfer.status}}</span></div>
      </ng-template>
      <ng-template #hovered>
        <div class="table-cell"><span class="badge">{{archiveTransfer.status}}</span></div>
        <div class="table-cell table-cell-4 table-cell-right">
          <button color="primary" mat-flat-button routerLink="/detail/{{archiveTransfer.id}}">Voir le versement</button>
          <button (click)="submit(archiveTransfer)" disabled color="primary"
                  mat-flat-button>Verser aux archives
          </button>
          <div class="progress-button-container">
            <div *ngIf="isLoading(archiveTransfer)" class="spinner-container">
              <mat-spinner diameter="24"></mat-spinner>
            </div>
            <button (click)="download(archiveTransfer)" [disabled]="isLoading(archiveTransfer)" color="primary" mat-mini-fab>
              <mat-icon>download</mat-icon>
            </button>
          </div>
          <button (click)="delete(archiveTransfer)" color="primary" mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-template>
    </div>
    <div mat-line>Date de dernière modification : {{archiveTransfer.lastModificationDate | date}}</div>
  </mat-list-option>
</mat-selection-list>
