<header>
  <h1>Bonjour Patrick</h1>
  <p>Bienvenue sur votre espace SEDAccord.</p>
</header>
<h2>Vos projets de versement</h2>
<div class="button-container">
  <button (click)="openAddDialog()" color="primary" mat-flat-button type="button">
    Créer un projet de versement
  </button>
</div>
<mat-selection-list #archiveTransferList [multiple]="false">
  <mat-list-option *ngFor="let archiveTransfer of archiveTransfers" [value]="archiveTransfer">
    <mat-icon matListIcon>folder</mat-icon>
    <div mat-line>
      <div>Projet de versement {{archiveTransfer.id}}</div>
      <div>{{archiveTransfer.transferringAgency.name}}</div>
      <div>{{archiveTransfer.name}}</div>
      <div><span class="badge">{{archiveTransfer.status}}</span></div>
      <div *ngIf="archiveTransfer === archiveTransferList.selectedOptions.selected[0]?.value">
        <button color="primary" mat-flat-button routerLink="/detail/{{archiveTransfer.id}}">Voir le versement</button>
        <button (click)="submit(archiveTransfer)" color="primary" mat-flat-button>Soumettre</button>
        <button (click)="delete(archiveTransfer)" color="primary" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div mat-line>Date de dernière modification : {{archiveTransfer.lastModificationDate | date}}</div>
  </mat-list-option>
</mat-selection-list>
