@import "variables";

:host {
  height: 100%;
  min-width: $min-panel-width;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}

h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tab-group {
  height: calc(100% - 2 * #{$default-margin});
}

.open-close-container {
  background: $panel-background;
  height: 100%;
  padding: $default-margin;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.info-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.date-group {
  .mat-form-field {
    width: $form-field-width;
  }
}
