<div *ngIf="isOpen" @openClose class="open-close-container">
  <button (click)="onCancel()" class="close-button" mat-icon-button type="button">
    <mat-icon>close</mat-icon>
  </button>
  <h2 class="text-ellipsis">{{fileData.name}}</h2>
  <mat-tab-group class="mat-tab-fill-height" dynamicHeight>

    <mat-tab label="Informations du fichier">
      <form (ngSubmit)="onSubmitFile()" [formGroup]="fileForm" class="info-form">
        <div class="form-content-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Nom original du fichier
            </mat-label>
            <input [value]="fileData.name" disabled matInput/>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Je modifie le nom du fichier
            </mat-label>
            <input formControlName="name" matInput/>
          </mat-form-field>
          <div class="date-group">
            <mat-form-field appearance="fill">
              <mat-label>Date de début
              </mat-label>
              <input [matDatepicker]="pickerStart" formControlName="startDate" matInput/>
              <mat-datepicker-toggle [for]="pickerStart" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Date de fin
              </mat-label>
              <input [matDatepicker]="pickerEnd" formControlName="endDate" matInput/>
              <mat-datepicker-toggle [for]="pickerEnd" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>J'ajoute une description sommaire à mon fichier
            </mat-label>
            <textarea formControlName="description" matInput></textarea>
          </mat-form-field>
        </div>
        <div class="button-group">
          <button (click)="onCancel()" mat-stroked-button type="button">
            Annuler
          </button>
          <button color="primary" mat-flat-button type="submit">
            Valider
          </button>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Discussion">
      <form (ngSubmit)="onSubmitComment()" [formGroup]="commentForm" class="info-form">
        <div class="form-content-wrapper">
          <mat-card *ngFor="let comment of comments.value; let i=index" class="comment">
            <mat-card-header>
              <mat-card-title>{{comment.username}}</mat-card-title>
              <mat-card-subtitle>{{comment.date | date}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p [class.disabled]="fileData.comments!.status === 'resolved'">
                {{comment.text}}
              </p>
            </mat-card-content>
            <mat-card-actions *ngIf="comment.username === 'Caroline'">
              <button (click)="deleteComment(i)" mat-button type="button">Supprimer</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Je commente
          </mat-label>
          <textarea formControlName="text" matInput></textarea>
          <mat-hint>Ajouter un commentaire rouvrira une discussion fermée.</mat-hint>
        </mat-form-field>
        <div class="button-group">
          <button (click)="onCancel()" mat-stroked-button type="button">
            Annuler
          </button>
          <div>
            <button color="primary" mat-flat-button type="submit">
              Envoyer
            </button>
            <button (click)="closeThread()" [disabled]="!fileData.comments || fileData.comments.status === 'resolved'" class="mat-elevation-z0" color="primary" mat-mini-fab matTooltip="Marquer la discussion comme fermée" type="button">
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-tab>

  </mat-tab-group>
</div>
